{% extends 'base.html' %}

{% block title %} Detailed TODO Item {% endblock %}

{% block heading %}Detailed TODO APP - "{{ detailed_post.id }}" {% endblock %}

{% block content %}
   <div id="todo_detail">
    <h1>"{{ detailed_post.title }}"</h1>
    <p>"{{ detailed_post.message }}"</p>
    <br>
    <div class="buttons">
	    <a href="{{ url_for("edit", post_id=detailed_post.id ) }}" id="btn">Edit</a>
	    <a href="{{ url_for("delete", post_id=detailed_post.id ) }}" id="btn">Delete</a>
    </div>
    </div>
{% endblock %}
