{% extends 'base.html' %}

{% block title %}Todo{% endblock %}

{% block heading %}TODO APP{% endblock %}

{% block content %}
<div id="todohome">
	<a href="{{ url_for("create") }}">CREATE</a>
	<table>
	<tr>
	  <th> ID </th>
	  <th> Title </th>
	  <th> Message </th>
	  <th> TO Edit </th>
	  <th> TO Delete </th>
	</tr>
	{% for task in tasks %}
	<tr>
		<td>"{{ task.id }}"</td>
		<td>"{{ task.title }}"</td>
		<td>"{{ task.message }}"</td>
		<td><a href="{{ url_for("edit", post_id=task.id) }}">EDIT</a></td>
		<td><a href="{{ url_for("delete", post_id=task.id) }}">DELETE</a></td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
