*{
    padding: 0;
    margin: 0;
}


#heading{
    text-align: center;
    font-size: 60px;
    color: red;
    background-color: #dddddd;
}

.plate{
    border-top: 5px black solid;
}

#img{
    position: absolute;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    animation-name: move;
    animation-duration: 3s;
}

#name{
    text-align: right;
    font-size: 100px;
    color: red;
    float: right;
    animation-name: move;
    animation-duration: 3s;
}

#information{
    text-align: center;
    font-size: 35px;
}

@keyframes move {
    from{ transform: rotateZ(0deg) }
    to{ transform: rotateZ(360deg)}
}

@media screen and (max-width: 1200px) {
    #img {
      display: none
    }
  }


#todohome,#todocreate,#todo_detai,#todo_edit{
	text-align: center
}

#title,#message{
	margin: 30px;
	height: 30px;
	border-radius: 5px;
}

#message{
	width: 350px;
}

#btn{
	margin:30px;
	height: 30px;
}

table {
  margin-left: 10%;
  margin-right: 10%; 
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a{
   text-decoration: none;
   padding: 3px 6px 3px 6px;
   color: #333333;
   border: 1px solid #CCCCCC;
}

a::hover{
	color: #555555;
}
